{% extends 'hero/welcome.html' %}
{% block content %}
<div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>权限列表<small></small></h2>
                        <button id="add_permission" type="button" class="btn btn-success btn-sm btn-right" data-toggle="modal" data-target=".add_permission">新增权限</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>说明</th>
                                    <th>URL</th>
                                    <th>上级权限</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for permission in context.rsp_body.permissions %}
                                    <tr>
                                        <td>{{ permission.name }}</td>
                                        <td>{{ permission.description }}</td>
                                        <td>{{ permission.url }}</td>
                                        <td>{{ permission.superior }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs btn-custom btnModifyPermission" data-toggle="modal" data-target=".modifyPermission">
                                                <i class="fa fa-pencil"></i> 编辑
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs btn-custom btnRemovePermission" data-toggle="modal" data-target=".removePermission">
                                                <i class="fa fa-trash-o"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--add permission module-->
<div class="modal fade add_permission" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">新增权限</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px 20px;" class="form-group">
                    <form data-parsley-validate class="form-horizontal form-label-left" autocomplete="off">
                        <span id="current_account" hidden>{{ account }}</span>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permission_name">名称<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="permission_name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permission_desc">说明<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="permission_desc" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permission_url">URL<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="permission_url" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permission_superior">上级权限<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="permission_superior" class="form-control">
                                    <option value="ROOT">ROOT</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_add_permission" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- /add permission module-->

<!--modify permission module-->
<div class="modal fade modifyPermission" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">权限详细信息</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px 20px;" class="form-group">
                    <form data-parsley-validate class="form-horizontal form-label-left" autocomplete="off">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md_permission_name">名称<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="md_permission_name" required="required" class="form-control col-md-7 col-xs-12" disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md_permission_desc">说明<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="md_permission_desc" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md_permission_url">URL<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="md_permission_url" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md_permission_superior">上级权限<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="md_permission_superior" class="form-control"></select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_modify_permission" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- /modify permission module-->

<!--remove permission module-->
<div class="modal fade removePermission" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">确定删除权限？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_remove_permission" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!--remove permission module-->

{% endblock %}

{% load static %}
{% block import_css %}
    <link href="{% static "css/green.css" %}" rel="stylesheet">    
    <link href="{% static "css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
{% endblock %}

{% block import_js %}
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "js/dataTables.bootstrap.min.js" %}"></script>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>
{% endblock %}

