.title_line{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin:20px 0;

}
.title_line span{
    display: inline-block;
    width:40%;
    border-bottom: 1px solid #ccc;
}
.title_line em{
    display: inline-block;
    text-align: center;
    width: 20%;

}

.btn-custom{
    margin-top:0px;
    margin-bottom:0px
}

.btn-right{
    float: right;
}

.select-custom{
    padding-left: 10px;
    padding-right: 10px;
}

.optgroup-custom{
    font-weight: 500;
    font-style: italic;
}

.form-custom{
    display: inline-block;
    float: right;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width:100%;
}

.bootstrap-select {

    width:100%;
}

.dropdown-menu{
    /*height: 300px;*/
    overflow-y: auto;
}

.nav.child_menu>li>a {
    color: rgba(255,255,255,0.75);
    font-size: 12px;
    padding: 9px;
    text-decoration: none;
}

.nav.side-menu>li.active>a {
    text-decoration: none;
}

.ul-custom {
    float: left;
}

.page-custom {
    display: inline-block;
    width: 120px;
    padding-left: 20px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    margin: 20px 0;
}

.input-custom{
    height:30px;width:60px;line-height:30px;margin: 20px 0 20px 10px;border-radius: 4px;outline: 0;border: 1px solid #ddd;
}
.input-custom::-webkit-textfield-decoration-container {
    background-color: #fff;
}
.input-custom::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input-custom::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.md_consignee_ul{width: 100%;height:350px;overflow-x: hidden;overflow-y: auto;cursor: pointer;list-style: none;border:1px solid #ccc;padding:0;}
.md_consignee_ul li{height: 35px;line-height: 35px;padding-left: 12px;}
.md_consignee_ul li:hover{background: #fff}
.md_consignee_ul li.height{background:#69BFF7;color:#fff;border-bottom: 1px solid #fff;}

.input-group-custom{
    width: 20%;
    float: right;
}
